[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tqdm = "*"
uuid = "*"
wave = "*"
gdown = "*"
ffmpeg-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
